<div class="panel-page">
  <h2>{{ 'teacher.account.title' | t }}</h2>
  <p class="meta">{{ 'teacher.account.hint' | t }}</p>

  <app-page-feedback [ok]="message()" [error]="error()" />

  <section class="block">
    <form class="meeting-form" (ngSubmit)="saveAccount()">
      <label>
        {{ 'common.email' | t }}
        <input [(ngModel)]="email" name="teacherEmail" type="email" autocomplete="email" />
      </label>
      <label>
        {{ 'common.mobile' | t }}
        <input [(ngModel)]="mobilePhone" name="teacherMobile" autocomplete="tel" />
      </label>
      <label>
        {{ 'common.newPasswordOptional' | t }}
        <input [(ngModel)]="password" name="teacherPassword" type="password" autocomplete="new-password" />
      </label>
      <label>
        {{ 'auth.reset.confirmPassword' | t }}
        <input [(ngModel)]="passwordConfirm" name="teacherPasswordConfirm" type="password" autocomplete="new-password" />
      </label>
      <button type="submit" [disabled]="saving()">
        {{ saving() ? ('common.saving' | t) : ('common.save' | t) }}
      </button>
    </form>
  </section>
</div>
